.item{
    margin: 10px;
    bacgground-color: transparent;
    border: 1px solid grey;
    padding: 10px;
}
.text {
    position: relative;
    bottom: 3px;
    text-decoration: underline;
}
.active{
    position: relative;
    bottom: 3px;
    text-decoration: line-through;
}